#chart-wrapper {
  height: 350px;
}

#chart {
  width: 100%;
  height: 350px;
  position: absolute;
}

.line {
  fill: none;
  stroke: #555555;
  stroke-width: 1px;
}

.vertical-line {
  fill: none;
  stroke: #44be24;
  stroke-width: 1px;
}

.positive-dot {
  fill: #44be24;
  stroke: #000000;
}

.negative-dot {
  fill: #ff0000;
  stroke: #000000;
}

.positive-text {
  color: #44be24;
  font-weight: bold;
}

.negative-text {
  color: red;
  font-weight: bold;
}