* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  padding-bottom: 100px;
}

#chart {
  width: 100%;
  height: 350px;
}

#search {
  margin-top: 30px;
}

.parameter {
  padding: 0px;
}

.line {
  fill: none;
  stroke: #555555;
  stroke-width: 1px;
}

.positive-line {
  stroke: #44be24;
  stroke-width: 1px;
}

.negative-line {
  stroke: #ef4f1b;
  stroke-width: 1px;
}

.positive-dot {
  fill: #44be24;
  stroke: #000000;
}

.negative-dot {
  fill: #ef4f1b;
  stroke: #000000;
}

.positive-text {
  color: #44be24;
  font-weight: bold;
}

.negative-text {
  color: #ef4f1b;
  font-weight: bold;
}

#tooltip { 
    position: absolute;              
    padding: 3px 5px;    
    font: 12px sans-serif;    
    background: white; 
    border: 1px solid grey;    
    border-radius: 4px;     
    pointer-events: none;   
    text-align: center;
    width: 120px;
}

#tooltip p { 
  margin: 0px;
  padding: 0px;
}